.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.game-board {
  position: relative;
  background-color: #fff;
  border: 2px solid #ccc;
  background: linear-gradient(90deg, #ccc 1px, transparent 1px),
    linear-gradient(0deg, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
}

.game-header {
  height: 40px;
  margin-bottom: 16px;
  display: flex;
  color: #151515;
  width: 100%;
}

.game-score {
  display: flex;
  flex: 1;
  align-items: center;
}

.grid-setting-form {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  min-width: 205px;
}

.grid-setting-form > div:not(:last-child) {
  margin-bottom: 8px;
}

.form-label {
  display: inline-block;
  width: 100px;
}

.form-footer {
  text-align: right;
  padding-top: 0.5rem;
}

.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00cc00;
  border: 1px solid #00cc00;
}

/* .snake:first-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
} */

/* .snake:last-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
} */

.bait {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
}


.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  min-width: 205px;
}

.game-win {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: #00cc00;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  min-width: 205px;
}

.game-help {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  max-width: 300px;
}
